<style>
 h1 {color: Black; font-size: 28px}
header {background-color:Black; color:white; text-align:center; padding:5px}
section {background-color:white}
footer {background-color:black; color:white; clear:both; text-align:center; padding:5px}
 div{width:1000px; height:1000px; border-bottom:1px solid #CCC;}
