<style>
 h1 {color: Black; font-size: 28px}
header {background-color:Black; color:white; text-align:center; padding:5px}
body {text-align:center}
footer {background-color:black; color:white; clear:both; padding:5px}
#content{width:1200px; height:100%; background-image: url("/img/bg.jpg");text-align:center; background-repeat: no-repeat;
background-size: cover;}
